.works-holder {
  display: flex;
  justify-content: flex-end;
  width: 80%;
  position: relative;
  height: 30%;
  background-color: white;
  box-shadow: 10px 10px 25px rgba(0, 191, 255, 0.801);
  border-radius: 1%;
  margin: 3rem;
  padding: 1rem;
}

.works-list {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.content-wrap {
  display: flex;
  align-items: flex-end;
  position: relative;
  flex-direction: column;
  width: 40%;
}
.content {
  padding: 1rem 0 1rem 3rem;

  color: black;
}

.logo {
  height: 150px;
}
