<div class="about-holder">
  <div class="content-wrap">
    <div class="content">
      <h2>¿Quieres conocerme mejor?</h2>
      <p>
        Soy un desarrollador web con una firme dedicación hacia el crecimiento
        profesional y la adquisición de nuevas habilidades. Mi enfoque se centra
        en el diseño gráfico y tareas de frontend, y poseo un particular interés
        en la experiencia de usuario.
      </p>
      <p>
        Mi filosofía se fundamenta en el resolutivo abordaje de problemas,
        combinando una mentalidad analítica con una creatividad aplicada. Mi
        motivación radica en contribuir al éxito del equipo mediante soluciones
        innovadoras y eficaces. Estoy entusiasmado por explorar nuevas
        oportunidades y desafíos que me permitan seguir creciendo como
        profesional en el campo del desarrollo web.
      </p>
    </div>
  </div>
</div>
