<div class="hero-holder">
  <img
    class="me"
    src="../../../assets/me/Pablo Martinexz Ruiz fondo blanco.jpg"
    alt="this is the best picture I have, really"
  />

  <div class="content-wrap">
    <div class="content">
      <h2>¡Hola! Soy Pablo Salvador, desarrollador web</h2>
      <p>
        Soy un desarrollador web especializado en frontend dedicado a mi pasión
        y a aprender continuamente de mi trabajo.
      </p>
      <p>UX/UI - Frontend - Diseño - Resolución de problemas</p>
    </div>

    <nz-carousel nzAutoPlay style="width: 100px; height: 130px">
      @for (index of array; track index) {
        <div nz-carousel-content>
          <img class="logo" src="{{ index }}" alt="logo of framework" />
        </div>
      }
    </nz-carousel>
  </div>
</div>
