.header-wrap {
  position: fixed;
  height: 5rem;
  width: 100%;
  z-index: 99999;
  background: linear-gradient(to right, lightblue, purple);
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;

  background: rgba(212, 212, 212, 0.3);
  width: 100%;
  height: 95%;
}

.image {
  max-width: 200px;
}
img {
  max-width: 100px;
  max-height: 100px;
  transform: rotate(0.05turn);
}

.title {
  margin: 0 auto;
  span {
    font-size: 2rem;
    margin-bottom: 0;
  }
}
.title-responsive {
  display: none;
}

.selector {
  min-width: 200px;
}

@media (max-width: 780px) {
  .title {
    display: none;
  }
  .title-responsive {
    margin: 0 auto;
    display: block;
    span {
      font-size: 2rem;
      margin-bottom: 0;
    }
  }
  .selector {
    min-width: 0px;
  }
}
